@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Edu+NSW+ACT+Foundation&display=swap');


*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color:rgb(188, 183, 183);
    display: flex;
    height: 154vh;
    font-family: 'Abril Fatface', cursive;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 35px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    background-color:rgb(194, 129, 215);
    height: 154vh;
    width: 100vw;
    font-family: 'Dancing Script', cursive;
}
.container{
    display: flex;
}
.infoContainer{
    background-color: rgb(238, 177, 249);
    height:68vh;
    width: 80vw;
    margin: 56px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.devPic img{
    width: 280px;
    height: 48vh;
    margin-top: 50px;
    margin-right: 10px;
    border: 5px solid #dd91e8;
}
.hello{
    font-size: 3em;
    
}
.name{
    font-size: 2em;
    font-family: 'Abril Fatface', cursive;
   
}
.about{
    font-size: 1.5em;
    font-family: 'Edu NSW ACT Foundation', cursive;

}

.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 21px;
    margin: 20px 3px;
    cursor: pointer;
}
.buttons button:hover{
    color: black;
    background-color: white;
}
.edu{
    background-color:bisque;
    height: 150vh;
}
.head{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.part{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}
.box1{
    text-align: center;
    height:250px;
    width: 360px;
    background-color: yellow;
    margin: 40px;
    padding: 10px ;
    margin-left:0px;

}
.box2{
    text-align: center;
    height:250px;
    width: 360px;
    background-color: yellow;
    margin: 40px;
    padding: 10px ;
}
.box3{
    text-align: center;
    height:250px;
    width: 360px;
    background-color: yellow;
    margin: 40px;
    padding: 10px;
}
.btn button{
    padding: 10px 15px;
    border-radius: 22px;
    color:white;
    background-color: rgb(2, 2, 81);
    font-size: 15px;
    margin: 90px 3px;
    cursor: pointer;
}
.box1 button{
    margin: 100px 3px;
}
.box2 button{
    margin: 65px 3px
}
.box3 button{
    margin: 65px 3px;
}
.btn button:hover{
    color: black;
    background-color: white;
}
.part p{
    margin: 10px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.part1 p{
    margin: 10px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.part1{
    margin-left: 300px;
}
.head h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.contactform{
    padding: 0 34px;
    padding-top: 120px;
}
.contactform h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.mb-3{

    padding: 10px 0 ;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
}

.form-control{
    width: 40vw;
    border-radius: 8px;
    padding: 3px;
}
.form-text{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:rgb(95, 83, 83);
}
.form-label{
    font-size: 30px;
}
.form-check{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.form-check-input{
    width: 24px;
    margin: 3px 0;
}
.jobdesc{
    height: 50px;
    border-radius: 8px;
    width: 40vw;
}
.butn{
    padding: 9px 14px;
    border-radius: 22px;
    color:white;
    background-color: black;
    font-size: 21px;
    margin: 20px 3px;
    cursor: pointer;
}
.butn:hover{
    color: black;
    background-color: white;
}
.cv{
    background-color: bisque;
}
.view{
    display: flex;
    padding-left: 400px;
    padding-bottom: 50px;
}
.heading h1{
    text-align: center;
    font-size: 50px;
    color:rgb(5, 5, 28);
    font-family: 'Abril Fatface', cursive;
    padding-top: 0px ;
    padding-bottom: 0px;
}
.dnd{
    text-align: right;
    padding-bottom: 20px;
    padding-right: 250px;
    margin-top: 0px;
}
.dnd button{
    color: black;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.dnd button:hover{
    color: white;
    background-color: black;
}
.certificates{
    height: 100vh;
    background-color:bisque;
}
.certificates h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.table{
    height: 70vh;
    width: 70vw;
    margin-left: 248px;
    color:white;
    background-color: black;
}
.table thead{
    height:60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
.table td{
   padding-left: 20px;
   font-family: 'Times New Roman', Times, serif; 
}  
.table td button{
    margin-left: 70px;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.table td button:hover{
    color: white;
    background-color: grey;
}
.top h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.top{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.division{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}
.container1{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px ;
    border-radius: 40px;
}
.container2{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px ;
    border-radius: 40px;
}
.container3{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container4{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container5{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container6{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container7{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container8{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.container9{
    text-align: center;
    height:100px;
    width: 100px;
    background-color: pink;
    margin: 40px;
    padding: 10px;
    border-radius: 40px;
}
.division p{
    margin: 10px ;
}
.division2{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}
.division h2{
    padding-top: 32px;
}
.division2 h2{
    padding-top: 32px;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 220px;
}
@media (max-width: 615px) {
    .devPic{
        display: none;
    }
    .part{
        flex-direction: column;
        padding: 0;
    }
    .box1{
        padding: 0.2em;
        margin: 0.1em;
    }
    .box2{
       padding: 0.2em;
       margin: 0.1em;
    }
    .box3{
       padding: 0.2em;
       margin: 0.1em;
    }
    .division{
        display: flex;
        flex-direction: column;
        margin-left: 5em;
    }
    .division2{
        display: flex;
        flex-direction: column;
        margin-left: 5em;
    }
    .main{
        height: 300vh;
    }
    .table{
        margin-left: 0px;
    }
}